MERCHANT_BOT_TOKEN=8217486025:AAGJaKvrlHM71L3vtIO9vWEwzPbbhTE2SWg
DRIVER_BOT_TOKEN=8939170514:AAHvoX9XViE71QuNExDmZRAiohMpz2oOJQw
PRODUCT_IMAGES_CHANNEL_ID=-1004268475347
CUSTOMER_BOT_TOKEN=8579415183:AAFDcnlUeo7iUABt5vOW7yGF5dny8FiN4bM
WEBAPP_URL=https://vast-flowers-agree.loca.lt
ADMIN_ID=5503702576
SUPABASE_URL=https://lfpzrppdaoiedwabpqjl.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxmcHpycHBkYW9pZWR3YWJwcWpsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MDMzODcwOCwiZXhwIjoyMDk1OTE0NzA4fQ.EkgD-Zz4HHABNLOYtNxJr6U2BeolQhIOojEQiiVStaQ